/Debug/
/build/
*~
*.o
test/dumb_client
test/dumb_server
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake

src/rsg_server
src/librsg.so
src/rsg.pb.cc
src/rsg.pb.h

java/org/simgrid/rsg/Rsg.java
java/jrsg.jar
*.class

/bin/
